*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans Tangsa', sans-serif;
  background: linear-gradient(#06243f, #06243f, #ff8c5f);
}

.App {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('./assets/background2.png');
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cli_img {
  position: absolute;
  width: 120%;
  object-fit: contain;
  margin-top: 115%;
  animation: planet 240s infinite linear;
}

.climate_container {
  width: 50%;
  /* height: 50vh; */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  z-index: 2;
  padding: 30px;
  border-radius: 8px;
  color: white;
}

.climate_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cli_info {
  width: 150px;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container p {
  font-size: 1rem;
  margin-top: 10px;
}

.img_container {
  width: 150px;
  height: 150px;
  border: 1px solid #fff;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.img {
  width: 150px;
  background-color: #fff;
  background-color: rgba(110, 179, 206, 0.5);
  backdrop-filter: blur(4px);
  border: 1px solid #fff;
  border-radius: 8px;
  object-fit: contain;
}


.extra_info {
  /* position: absolute; */
  width: 73%;
  height: 265px;
  background-color: #fff;
  padding: 20px;
  margin-top: -185px;
  border-radius: 8px;
  box-shadow: 0px 5px 10px -5px white;
  color: #2e4a85;
  text-align: center;
}

.extra_info h2 {
  padding: 5px 10px;
  color: #fff;
  background-color: #104472;
  border-radius: 10px;
}

.info_pre {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #2e4a85;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icnon {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;
}

.hola {
  width: 40%;
  font-size: 1rem;
}

.fa-shuffle {
  position: absolute;
  margin-top: 30px;
  padding: 15px;
  border-radius: 50%;
  margin-left: -20px;
  background-color: #184369;
  border: 1px solid white;
  color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.active {
  font-size: 1.7rem;
}


@media (max-width: 730px) {
  .climate_container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -315px;
    padding: 20px;
  }

  .container {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .extra_info {
    width: 100%;
    position: absolute;
    inset: 1;
    margin-top: 100%;
    flex-direction: column;
  }

  .fa-shuffle {
    margin-top: -100px;
    margin-left: -170px;
  }
  .cli_img{
    width: 170%;
  }
}

@keyframes planet {
  from {
    transform: rotateZ(360deg);
  }

  to {
    transform: rotateZ(0deg);
  }
}